/*steps 18-19, 22*/
body {
  /*background-color:limegreen;*/
  background-image:url("pies.png");
  /*steps 57, 59*/
  font-family: Geneva;

}

/*steps 14*/
h1, h2, h3, p {
  text-align: center;
}

/*step 58, 59*/
h1, h2, h3 {
  font-family: Gill Sans,Tahoma;
}

/*steps 21, 23*/
.menu {
  width:70%;
  /*steps 56*/
  max-width: 700px;
  background-color:orangered;
  margin-left:auto;
  margin-right:auto;
  padding-left:40px;
  padding-right:40px;
  /*steps 53-55*/
  padding: 20 20 20 20;
}

/*steps 33*/
.first, .second, .third{
text-align:left;

/*steps 38, 45*/
width:80%;
}

/*steps 34*/
.cost {
  text-align:right;
  
/*steps 38, 45*/
width:20%;
}

.product p {
  display:inline-block
}