/*steps 18-19, 22*/
body {
    /*background-color:limegreen;*/
    background-image:url("pies.png");
}

/*steps 14*/
h1, h2, h3, p {
    text-align: center;
}

/*steps 21, 23*/
.menu {
  width:70%;
  background-color:orangered;
  margin-left:auto;
  margin-right:auto;
}

/*steps 33*/
.taste {
text-align:left;

/*steps 38*/
width:49%;
}

/*steps 34*/
.cost {
  text-align:right;
  
/*steps 38*/
width:49%;
}

.product p {
  display:inline-block
}